<config template="android (default)" platform="android">Created: Tue Sep 22 14:28:51 2015
By: kevinislasabud
Using Template: android (default)

&lt;description to go here><option fromDef="true" value="" name="android-icon-dir"/>
    <option fromDef="true" value="-ldpi;&lt;none>;-mdpi;&lt;none>;-hdpi;&lt;none>;-xhdpi;&lt;none>;-xxhdpi;&lt;none>;-xxxhdpi;&lt;none>" name="android-icon-group"/>
    <option fromDef="true" value="" name="android-icon-gallery"/>
    <option fromDef="true" value="" name="android-icon-nonstandard"/>
    <option fromDef="true" value="../../../../Applications/Marmalade.app/Contents/platform_libs/android/marmalade-facebook-android-sdk/third_party/facebook/res;../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/res;../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/res" name="android-external-res"/>
    <option fromDef="true" value="" name="android-external-assets"/>
    <option fromDef="true" value="1" name="android-install-location"/>
    <option fromDef="true" value="com.kevinislasabud.JUANPI" name="android-pkgname"/>
    <option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="JUANPI" name="name"/>
    <option fromDef="true" value="JUANPI" name="caption"/>
    <option fromDef="true" value="kevinislasabud" name="provider"/>
    <option fromDef="true" value="(C) kevinislasabud" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
    <option fromDef="true" value="" name="android-manifest"/>
    <option fromDef="true" value="" name="android-custom-activity"/>
    <option fromDef="true" value="../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraManifests.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraManifests.xml" name="android-extra-manifest"/>
    <option fromDef="true" value="../../../../Applications/Marmalade.app/Contents/extensions/s3eAmazonAds/source/android/ExtraAppManifests.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eFacebook/source/android/extra_app_manifest.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eAmazonInAppPurchasing/source/android/AmazonInAppPurchasingManifestSnippet.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidMarketBilling/s3eAndroidMarketBillingManifest.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eAndroidGooglePlayBilling/source/android/ExtraAppManifests.xml;../../../../Applications/Marmalade.app/Contents/extensions/s3eSamsungInAppPurchasing/source/android/ExtraAppManifests.xml" name="android-extra-application-manifest"/>
    <option fromDef="true" value="" name="android-supports-gl-texture"/>
    <option fromDef="true" value="0" name="android-target-sdk-version"/>
    <option fromDef="true" value="0" name="android-min-sdk-version"/>
    <option fromDef="true" value="" name="android-unsigned"/>
    <option fromDef="true" value="" name="android-tm"/>
</config>
