<config platform="project" template="project (default)">Created: Tue Sep 22 14:28:43 2015
By: kevinislasabud
Using Template: project (default)

&lt;description to go here>
<option value="" fromDef="true" name="icon"/>
    <option value="" fromDef="true" name="splashscreen"/>
    <option value="" fromDef="true" name="splashscreen-use-all"/>
    <option value="" fromDef="true" name="splashscreen-auto-onblack"/>
    <option value="Default" fromDef="true" name="assets"/>
    <option value="" fromDef="true" name="embed-icf"/>
    <option value="resources/common.icf;resources/app.icf" fromDef="true" name="config"/>
    <option value="JUANPI" fromDef="true" name="name"/>
    <option value="JUANPI" fromDef="true" name="caption"/>
    <option value="kevinislasabud" fromDef="true" name="provider"/>
    <option value="(C) kevinislasabud" fromDef="true" name="copyright"/>
    <option value="0.0.1" fromDef="true" name="version"/>
    <option value="" fromDef="true" name="version-string"/>
</config>
