<config template="project (default)" platform="project">Created: Tue Sep 22 14:28:43 2015
By: kevinislasabud
Using Template: project (default)

&lt;description to go here><option fromDef="true" value="" name="icon"/>
    <option fromDef="true" value="" name="splashscreen"/>
    <option fromDef="true" value="" name="splashscreen-use-all"/>
    <option fromDef="true" value="" name="splashscreen-auto-onblack"/>
    <option fromDef="true" value="Default" name="assets"/>
    <option fromDef="true" value="" name="embed-icf"/>
    <option fromDef="true" value="resources/common.icf;resources/app.icf" name="config"/>
    <option fromDef="true" value="JUANPI" name="name"/>
    <option fromDef="true" value="JUANPI" name="caption"/>
    <option fromDef="true" value="kevinislasabud" name="provider"/>
    <option fromDef="true" value="(C) kevinislasabud" name="copyright"/>
    <option fromDef="true" value="0.0.1" name="version"/>
    <option fromDef="true" value="" name="version-string"/>
</config>
